::selection {
    background-color: #891818;
    color: white;
}

li,
span {
    line-height: 42px;
}

.banner {
    background: url(../img/banner.png) no-repeat fixed center/ auto 110%;
    // auto 110% 頁面縮小時，求保比例不變，讓寬度自適應高度變化
    height: 960px;
    p {
        line-height: 42px;
    }
    a:hover {
        transform: translateY(-6px);
        transition: .6s;
    }
}

.description {
    line-height: 36px;
}

.contact {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 100%;
        bottom: -2px;
        height: 2px;
        background-color: #fff;
    }
    &:hover::after {
        right: 0;
        transition: .7s;
    }
}