::selection {
    background-color: #891818;
    color: white;
}

.banner {
    background: url(../img/banner.png) no-repeat fixed center -2px / 110%;
    height: 958px;
    p {
        line-height: 36px;
    }
    a:hover {
        transform: translateY(-6px);
        transition: .8s;
    }
}

h1 {
    line-height: 94px;
    span {
        line-height: 42px;
    }
}

.description {
    line-height: 35px;
}

.works:hover img {
    opacity: .8;
    transition: .4s;
}

.contact {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 100%;
        bottom: -2px;
        height: 2px;
        background-color: #fff;
    }
    &:hover::after {
        right: 0;
        transition: .7s;
    }
}